BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE TABLE onboarding_inputs (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    payload JSONB, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE financial_profiles (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    features JSONB NOT NULL, 
    vector JSONB NOT NULL, 
    scores JSONB NOT NULL, 
    meta JSONB, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

-- Running upgrade 0001_initial -> 0002_add_is_active

ALTER TABLE financial_profiles ADD COLUMN is_active BOOLEAN DEFAULT true NOT NULL;

UPDATE alembic_version SET version_num='0002_add_is_active' WHERE alembic_version.version_num = '0001_initial';

-- Running upgrade 0002_add_is_active -> 0003_add_avatar_to_users

ALTER TABLE users ADD COLUMN avatar_url VARCHAR(512);

UPDATE alembic_version SET version_num='0003_add_avatar_to_users' WHERE alembic_version.version_num = '0002_add_is_active';

COMMIT;

